<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "로그인", class: "btn btn-large btn" %>
    <% end %>

    <p>처음이세요? <%= link_to "지금 가입하세요!", signup_path %></p>
  </div>
</div>